$def with (room)

<h1> $room.name </h1>

<pre>
$room.description
</pre>

$if room.name == "death":
    <p><a href="/">Play Again?</a></p>

$if room.gothons:   
    <p>Number of Gothons: $room.gothons <br> <br> <a href="/blaster">Blaster</a> &nbsp; &nbsp; &nbsp; &nbsp; <a href="/knive">Knive</a>  &nbsp; &nbsp; &nbsp; &nbsp; 
        <a href="/dodge">Dodge</a></p>

$if room.name == "Laser Weapon Armory":
    <p>$room.actions <br> <a href="/left">Left</a>  &nbsp; &nbsp; &nbsp; &nbsp; <a href="right">Right</a></p>

$if room.name == "Escape Pod":
    <p> &nbsp; &nbsp; &nbsp; &nbsp; <a href="/one">1</a> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 
    <a href="/not_one">2</a> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <a href="/not_one">3</a> 
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; <a href="/not_one">4</a> &nbsp; &nbsp; &nbsp; &nbsp; 
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <a href="/not_one">5</a></p>


